form{
  background-color: rgba(0, 0, 0,.4);
  border-radius: 20px;
  margin: auto;
  padding: 10px 0 10px 0;


}
#nav1{
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  opacity: 0.6;
  padding-left: 250px;

}
#foot{
  background: linear-gradient(to right, #000428, #004e92);
  opacity: 0.6;

}
